# dependencies
node_modules/

# builds
dist/
build/
.next/
out/
coverage/

# local environment secrets
.env
.env.local
.env.*.local

# logs and OS files
*.log
npm-debug.log*
.DS_Store

# typescript
*.tsbuildinfo

# vercel
.vercel
